<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>OmniFocus_icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>net.brandonpittman.LaunchBar.action.ActivateOmniFocusTemplate</string>
	<key>CFBundleName</key>
	<string>Activate OmniFocus Template</string>
	<key>LBAbbreviation</key>
	<string>act</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Brandon Pittman</string>
		<key>LBEmail</key>
		<string>launchbar@brandonpittman.net</string>
		<key>LBTwitter</key>
		<string>@brandonpittman</string>
		<key>LBWebsite</key>
		<string>http://www.pixelsnatch.com</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>suggestions.scpt</string>
		</dict>
	</dict>
</dict>
</plist>
